.container{
    font-size: 13px;
}

/* .jumbotron-fluid{
    position: static;
    width: 100%;
    z-index: -1;
    display: block;

} */
/* .backgroundImg{
position: absolute;
left:0;
/* z-index: -1; 
height: 15rem;
width: 100%;
display: block;
} */